<!DOCTYPE html>
<html lang="ko" data-theme="dark">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta property="theme-color" content="#A5CC82">
    <meta property="og:description" content="학생 개발자 Kate Lin의 웹 사이트입니다.">
    <meta property="og:title" content="Kate Lin">
    <meta name="description" content="학생 개발자 Kate Lin의 웹 사이트입니다.">

    <!-- Title -->
    <title>Kate Lin - @ViewData["Title"]</title>

    <!-- Styles -->
    @await RenderSectionAsync("Styles", required: false)

    <!-- Preload Scripts -->
    @await RenderSectionAsync("PreloadScripts", required: false)
</head>

@RenderBody()

<!-- Scripts -->
@await RenderSectionAsync("Scripts", required: false)
</html>