@model Redbone.Models.Post;

@{
    ViewData["Title"] = "Edit";
}

<hgroup data-aos="fade-in">
    <h2>글 수정하기</h2>
    <h3>등록된 글의 내용을 수정합니다.</h3>
</hgroup>

<br/>

@using (Html.BeginForm("Edit", "Panel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <label data-aos="fade-in">
        제목
        <input type="text" name="title" placeholder="글의 제목을 입력해 주세요." autocomplete="off" value="@Model.Title" required>
    </label>

    <hr/>
    <br/>

    <textarea id="premiumskinsandicons-borderless" name="content">@Model.Content</textarea>

    <br/>
    <hr/>
    <br/>

    <input type="submit" value="수정" data-aos="fade-in"/>           
}

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <script>
            swal({
                title: "오류",
                text: "@Html.Raw(ViewBag.Message)",
                icon: "error",
                buttons: {
                  cancel: "확인"
                }
            });
        </script>
    }
}

@section PreloadScripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
}

@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink autosave code codesample emoticons fullscreen help image insertdatetime link lists media nonbreaking pagebreak preview searchreplace table wordcount',
            toolbar_mode: 'floating',
            skin: "oxide-dark",
            content_css: "dark",
            license_key: 'gpl',
            promotion: false
        });
    </script>
}