@{
    ViewData["Title"] = "Write";
}

<hgroup data-aos="fade-in">
    <h2>글 쓰기</h2>
    <h3>등록할 글을 작성합니다.</h3>
</hgroup>

<br/>

@using (Html.BeginForm("Write", "Panel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <label data-aos="fade-in">
        제목
        <input type="text" name="title" placeholder="글의 제목을 입력해 주세요." autocomplete="off" required>
    </label>

    <hr/>
    <br/>

    <textarea id="premiumskinsandicons-borderless" name="content"></textarea>
            
    <br/>
    <hr/>
    <br/>
                                                                 
    <input type="submit" value="등록" data-aos="fade-in"/>           
}

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <script>
            swal({
                title: "오류",
                text: "@Html.Raw(ViewBag.Message)",
                icon: "error",
                buttons: {
                  cancel: "확인"
                }
            });
        </script>
    }
}

@section PreloadScripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/2v380uwuht2pwfhrtvuz8gov9qdnkj5vfp25scldc25cwd9c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'advlist autolink autosave code codesample emoticons fullscreen help image insertdatetime link lists media nonbreaking pagebreak preview searchreplace table wordcount',
            toolbar_mode: 'floating',
            skin: "oxide-dark",
            content_css: "dark"
        });
    </script>
}