@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

[data-theme="light"],
body:not([data-theme="dark"]) {
    --primary: #00897b;
    --primary-hover: #00796b;
    --primary-focus: rgba(0, 137, 123, 0.125);
    --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) {
        --primary: #00897b;
        --primary-hover: #009688;
        --primary-focus: rgba(0, 137, 123, 0.25);
        --primary-inverse: #FFF;
    }
}

[data-theme="dark"] {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
}

@font-face {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    --font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
    scroll-behavior: smooth;

    font-family: 'IBM Plex Sans KR', sans-serif;
    --font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);

    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);

    --progress-color: var(--primary);

    --accordion-active-summary-color: var(--primary);

    font-family: 'IBM Plex Sans KR', sans-serif;
    --font-family: 'IBM Plex Sans KR', sans-serif;
}

    body nav {
        outline: #252E35 solid thin;
    }

    body kbd {
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    body footer {
        text-align: right;
    }

    body .container-fluid > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) {
        color: #BBC6CE;
    }