body hgroup:nth-child(1) > small:nth-child(2) {
    color: #73828C;
}

:root {
    color-scheme: light dark;
}

iframe {
    color-scheme: light;
}

hgroup.aos-init > div:nth-child(3) {
    width: fit-content;
    float: right;
}

hgroup.aos-init > div:nth-child(3) i {
    color: #73828c;
}